{% extends '_templates/base.njk' %}

{% block page_title %}Austin Tourism{% endblock %}

{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="text mb-4">
      <h1>Welcome & Bienvenidos!</h1>
      <p>On this site, you will find all of the information you need to know about the amazing city of Austin, Texas! We have landmarks, restaurants, and more!</p>
    </div>
  </div>

  <div class="row">
    {% for item in landmarks.landmarks %}
    <div class="col-sm-6">
      <div class="card mb-4">
       <img src="img/landmarks/{{ item.image }}" class="card-img-top" alt="">
       <div class="card-body">
         <h5 class="card-title">{{ item.name }}</h5>
         <p class="card-text">{{ item.location }}</p>
         <a href="landmarks/{{ item.slug }}.html" target="_blank">More Info</a>
       </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}